* {
    margin: 0;
    padding: 0;

}

form {
    padding: 5px;
}

nav {
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

.main {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    padding: 50px;
}

.nav-title {
    display: inline;
    /* float: left; */
}

.nav-item {
    padding: 5px;
    display: inline-block;
    /* float: right; */
}

.nav-container {
    float: right;
}

ul > li {
    margin-left: 10px;
}