{% extends "base.jinja" %}
{% block title %}Buy Tickets{% endblock %}
{% block content %}
{% include "nav.jinja" %}
<div class="main">
    <h1>File Structure</h1>
    <p>To submit your code, name the file to be run "main" with no extension.
        Then, zip it along with whatever files you require and submit.
        The total unzipped size of your files must not exceed 10 megabytes.
        If your file is not a binary, you will need a <a href="https://en.wikipedia.org/wiki/Shebang_(Unix)">shebang</a>
        For example, for a python script, you might have something like this:
        <br>
        <code>
            #!/usr/local/bin/python3
            print("test")
        </code>
        <br>
        <br>
    </p>
    <b>Example zip:</b>
    <ul>
        <li>code.zip
            <ul>
                <li>main</li>
                <li>board_states.dat</li>
                <li>config.json</li>
                <li>note_to_self.txt</li>
            </ul>
        </li>

    </ul>
    <br>
    <h1>Board format</h1>
    <p>The current game state will be passed to your board as follows:</p>
    <code>main "[board]" "[region]"</code>
</div>
{% endblock %}