{% extends "base.jinja" %}
{% block title %}Buy Tickets{% endblock %}
{% block content %}
{% include "nav.jinja" %}
<div class="main">
    <h1>File Structure</h1>
    <p>To submit your code, name the file to be run "main" with no extension</p>
    <p>Then, zip it along with whatever files you require and submit.</p>
    <p>The total unzipped size of your files must not exceed 10 megabytes.</p>
    <p>Example:</p>
    <ul>
        <li>code.zip
            <ul>
                <li>main</li>
                <li>board_states.dat</li>
                <li>config.json</li>
                <li>note_to_self.txt</li>
            </ul>
        </li>

    </ul>
    <br>
    <h1>Board format</h1>
    <p>The current game state will be passed to your board as follows:</p>
    <code>main "[board]" "[region]"</code>
</div>
{% endblock %}