{% extends "base.jinja" %}
{% block title %}Buy Tickets{% endblock %}
{% block content %}
{% include "nav.jinja" %}
<div class="main">
    <h1>Specification</h1>
    <p>To submit</p>
</div>
{% endblock %}