{% extends "base.jinja" %}
{% block title %}Home{% endblock %}
{% block content %}
{% include "nav.jinja" %}
    <div class="main">
    <p>Welcome to my crappy knockoff of the TJ othello server</p>
    </div>
{% endblock %}