<nav>
    <div class="nav-title"><a href="/">Ultimate Tic-Tac-Toe</a></div>
    <div class="nav-container">
        <ul>
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="/help">Help</a></li>
            <li class="nav-item"><a href="/upload">Upload</a></li>
        </ul>
    </div>
    <!-- <div class="item" style="float:right;"><a href="/my-tickets">{{ username }}'s Tickets</a></div> -->
</nav>