{% extends "base.jinja" %}
{% block title %}Register{% endblock %}
{% block content %}
    <form action="/register" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">

        <br>

        <label for="password">Password</label>
        <input type="password" name="password" id="password">

        <br>

        <button type="submit">Register</button>

        <br>

        <a href="/login">or login</a>
    </form>
{% endblock %}
